%nav.footer_clip_frame
  %ul
    %li.menu
      = link_to 'prev', '/',{class:"send-page"}
    %li.menu
      = link_to '1', '/',{class: "page-number"}

    %span.page-number-dots ...
    
    %li.menu
      = link_to '2', 'twopage',{class: "page-figure"}
    %li.menu
      = link_to '3', 'threepage',{class: "page-number"}
    %li.menu
      = link_to 'next', 'threepage',{class: "send-page"}