.top-pape
  %header.top-pape__site
    %h1.top-pape__site_title
      %a{href: "/"}Castle
      .top-pape__site_title__user
      - if user_signed_in?
        .top-pape__site_title__user_out
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        .top-pape__site_title__user_new
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "登録", new_user_registration_path, class: 'post'
    %nav.side-warap
      %ul.side-warap__bar
        %li
          %h2
            .side-warap__bar_parent
              %i.fa.fa-bars.tag-icon
          %ul.side-warap__bar_mega
            %li.side-warap__bar_mega_list
              %h3
                北海道地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "松前城", "/castles/23"
            %li.side-warap__bar_mega_list
              %h3
                東北地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "弘前城", "/castles/13"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "丸岡城", "/castles/14"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "白石城", "/castles/20"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "白河小峰城", "/castles/21"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "会津若松城", "/castles/24"
            %li.side-warap__bar_mega_list
              %h3
                関東地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "小田原城", "/castles/27"
            %li.side-warap__bar_mega_list
              %h3
                中部地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "名古屋城", "/castles/3"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "岐阜城", "/castles/6"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "犬山城", "/castles/10"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "松本城", "/castles/8"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "上田城", "/castles/12"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "掛川城", "/castles/22"
            %li.side-warap__bar_mega_list
              %h3
                近畿地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "大阪城" , "/castles/1"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "姫路城", "/castles/2"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "彦根城", "/castles/4"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "竹田城跡", "/castles/7"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "二条城", "/castles/11"
            %li.side-warap__bar_mega_list
              %h3
                中国地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "松江城", "/castles/15"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "備中松山城", "/castles/16"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "広島城", "/castles/25"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "岡山城", "/castles/26"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "福山城", "/castles/28"
            %li.side-warap__bar_mega_list
              %h3
                四国地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "伊予松山城", "/castles/5"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "丸亀城", "/castles/17"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "宇和島城", "/castles/18"
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "高知城", "/castles/19"
            %li.side-warap__bar_mega_list
              %h3
                九州地方
              %ul.side-warap__bar_mega_list_second
                %li.side-warap__bar_mega_list_second_post
                  .side-warap__bar_mega_list_second_post_category
                    = link_to "熊本城", "/castles/9"



