.wrapper
  =render 'topp'
  
  .top-inner
    .top-inner_clip
      %ul.category
        %li.category-web
          .figure
            = link_to image_tag("/assets/gaikan_003-2-1.jpg",width:"400",height: "300"), "/castles/1"
            %p 大阪城
        %li.category-web
          .figure
            = link_to image_tag("/assets/22106-06ufbtXC7xBz19vb02yE_lrg_re.jpg",width: "400",height: "300"),"/castles/2"
            %p 姫路城
        %li.category-web
          .figure
            = link_to image_tag("/assets/nagoyajo-sakematsuri1.jpg",width: "400",height: "300"),"/castles/3"
            %p 名古屋城
        %li.category-web
          .figure
            = link_to image_tag("/assets/pic30_06main.jpg",width: "400",height: "300"),"/castles/4"
            %p 彦根城
        %li.category-web
          .figure
            = link_to image_tag("/assets/matuyama.jpeg",width: "400",height: "300"),"/castles/4"
            %p 伊予松山城
        %li.category-web
          .figure
            = link_to image_tag("/assets/100174.jpg",width:"400",height: "300"),"/castles/5"
            %p 岐阜城
        %li.category-web
          .figure
            = link_to image_tag("/assets/600px-竹田城.jpeg",width: "400",height: "300"), "/castles/6"
            %p 竹田城跡
        %li.category-web
          .figure
            = link_to image_tag("/assets/130608_Matsumoto_Castle_Matsumoto_Nagano_pref_Japan02bs4.jpg", width: "400", height: "300"), "/castles/7"
            %p 松本城
        %li.category-web
          .figure
            = link_to image_tag("/assets/熊本城.jpeg",width: "400", height: "300"), "/castles/8"
            %p 熊本城
        %li.category-web
          .figure
            = link_to image_tag("/assets/犬山城.jpeg",width: "400",height: "300"), "/castles/9"
            %p 犬山城
        %li.category-web
          .figure
            = link_to image_tag("/assets/1920px-Nijo-jo_Ninomaru-goten_2009.jpg",width: "400", height: "300"), "/castles/10"
            %p 二条城
        %li.category-web
          .figure
            = link_to image_tag("/assets/1920px-Ueda_Castle_Amagafuchi.jpg",width: "400", height: "300"), "/castles/11"
            %p 上田城
            
    .footer_clip
      =render 'under'




