.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei
        = @citadel.name
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales
        = @citadel.address
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time
        = @citadel.time

  .castle-photo
    .castle-photo__box
      = image_tag(@citadel.image)

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          = @citadel.text

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          = @citadel.detail
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26247.393044654487!2d135.4974402998704!3d34.68186425422633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e0cd5c283afd%3A0xf01d07d5ca11e41!2z5aSn6Ziq5Z-O!5e0!3m2!1sja!2sjp!4v1562924460385!5m2!1sja!2sjp", :style => "border:0", :width => "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code
          = @citadel.address