.wrapper
  =render 'castles/topp'

  .name
    .name__header
      %h1.name__header_siromei
        = @citadel.name
    .name__header__adress
      %i.fa.fa-map-marker.name__header__adress_mark
      .name__header__adress_sales
        = @citadel.address
      %i.fa.fa-clock-o.name__header__adress_clock
      .name__header__adress_time
        = @citadel.time

  .castle-photo
    .castle-photo__box
      = image_tag(@citadel.image)

  .detail
    .detail__point
      .detail__point_title 見所
      .detail__point_description
        %span
          = @citadel.text

      -# .detail__point_detour.contory 寄り道
    .detail__history
      .detail__history_title 詳細
      .detail__history_comment
        %span
          = @citadel.detail
      -# .detail__history_money.fee 入場料
    .detail__map
      .detail__map_title お問い合わせ
      .detail__map_paste
        %iframe{allowfullscreen:  "", frameborder:  "0", :height => "450", src: @citadel.map, style: "border:0", width: "600"}
      .detail__map_adress
        %i.fa.fa-map-marker.detail__map_adress_mark
        %span.detail__map_adress_code
          = @citadel.address
  .comment
    .comment__form
      %textarea.comment__form_text{cols:"30",name:"text",placeholder:"コメントする",rows:"2"}
      %input.comment__form_send{type: "submit",value:"SENT"}
  .word
    .word__mouse
      .word__mouse__pillar
        .word__mouse__pillar_title
          .word__mouse__pillar_title_text
            コメント
        %div.word__mouse__pillar__container
          -# .word__mouse__pillar__container__page
          -#   口コミ
          -#   %b
          -#     1 ~
          -#   %b
          -#     10
          %div
            .word__mouse__pillar__container__review
              .word__mouse__pillar__container__review_name
                hiro
              .word__mouse__pillar__container__review_letter
                %p.word__mouse__pillar__container__review_letter_sentence
                  城郭が綺麗で美しかった
              -# .word__mouse__pillar__container__review_time